table{
    border-collapse: collapse;
}
.vert_text{
    writing-mode: vertical-lr;
}
.border{
    border: 7px solid rgb(0, 0, 0);
}
.border_lr{
    border-left: 7px solid rgb(0, 0, 0);
}
td, th{
    border: 5px solid rgb(0, 0, 0);   
}
.border_right{
    border-right: 5px solid rgb(0, 0, 0);   
}  
